*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.item1 { grid-area: main; }
.item2 { grid-area: side1; }
.item3 { grid-area: side2; }

.container{
    display: grid;
    width: 95%;
    background-color: orange;
    margin: 10px auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 120px 120px;
    gap: 5px;
    padding: 10px;
    grid-template-areas: 
            "main side1"
            "main side2";
}

.item1{
    background-image: url("genshin.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 205px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.item2, .item3{
    background-image: url("genshin.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

section.content {
    background-image: linear-gradient(to bottom right, red,orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: sticky;
}

section.content nav a {
    font-size: 40px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    padding: 20px 20px;
    /* background-color: aqua; */
}

.icon-keranjang {
    font-size: 40px;
    cursor: pointer;
    margin-right: 100px;
    margin-left: 20px;
    text-decoration: none;
}


section.content form {
    width: 800px;
    /* background-color: yellowgreen; */
    text-align: center;
    margin: 0;
    background-color: white;
}

section.content form div {
    display: inline-block;
    padding: 2px;
    height: 30px;
    border-radius: 2px;

}

section.content form input[type=text] {
    border: none;
    outline: none;
    width: 700px;
}

 
section.content form input[type=submit] {
    height: 36px;
    width: 36px;
    border-radius: 2px;
    background-color: orange;
    border: none;
    cursor: pointer;
}

.container2{
    display: flex;
    min-height: 1vh;
    /* background-color: whitesmoke; */
    justify-content: center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
    padding-top: 15px;
}

.box{
    width:50px;
    height: 50px;
    background-image: linear-gradient(to bottom right, red,orange);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

.box:hover {
    background-image: orange;
    transform: translateY(-5px);
    transition-duration: 1s;
    cursor: pointer;
}

.text{
    display: flex;
    /* background-color: whitesmoke; */
    justify-content: center;
    align-items: center;
    gap: 69px;
    flex-wrap: wrap;
    padding: 0;
}

body{
    min-height: 200vh;
}
